[Unit]
Description=ComfyUI
After=local-fs.target

[Container]
Image=ghcr.io/ai-dock/comfyui@sha256:ca4c95d4d4743d7d5683e57f5e0358fe586bc57578f66c2a844e9fa0650cc619
ContainerName=comfyui
PublishPort=8188:8188
Volume=comfyui-models:/app/models
Volume=comfyui-output:/app/output
Volume=comfyui-custom-nodes:/app/custom_nodes
Environment=CUDA_VISIBLE_DEVICES=0
AddDevice=nvidia.com/gpu=all

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
