[Unit]
Description=LocalAI
After=local-fs.target

[Container]
Image=docker.io/localai/localai@sha256:60698083e10e2739523a7b55e6bbfa8a83ac86bb5715ca9eaca243f6cdd21f1a
ContainerName=localai
PublishPort=8081:8080
Volume=localai-models:/build/models
Volume=localai-preload:/build/preload
Environment=CUDA_VISIBLE_DEVICES=0
Environment=THREADS=8
Environment=CONTEXT_SIZE=4096
AddDevice=nvidia.com/gpu=all

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
